<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.css" rel="stylesheet"/>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.js"></script>
  </head>

  <body>
    <section id='title'>
      <h1>Let's jot it down.</h1>
      <form>
        <input type="text" id="userInput" name="userInput"></input>
        <button type="submit" for="userInput">Add</button>
      </form>
    </section>
    <section class="container-fluid list-containers">
      <div class="row">
        <div class="col-sm" id="read">
          <h2>Read</h2>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="check1" checked>
                <label class="custom-control-label" for="check1">Check me</label>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm" id="buy">
          <h2>Buy</h2>
        </div>
        <div class="col-sm" id="watch">
          <h2>Watch</h2>
        </div>
        <div class="col-sm" id="eat">
          <h2>Eat</h2>
        </div>
      </div>
    </section>
  </body>
</html>
