// See: https://sass-lang.com/
$font-stack: Helvetica, sans-serif;

body {
  background-color: #fbfbfb!important;

  .centerlined {
    border: none;
    color: #454545;
    background-color: transparent;
    padding-bottom: calc(1px * 2);
    position: relative;
    transition: 0.3s ease;
    font-weight: 400;
    cursor: pointer;
    font-size: 18px;

    &::after {
      display: block;
      background-color: #454545;
      width: 100%;
      left: 0;
      transform-origin: bottom center;
      height: 1px;
      position: absolute;
      bottom: 0;
      transform: scaleX(0);
      transition: 0.3s ease;
      content: "";
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }

  nav {
    background-color: #fafafa;
    display: flex;
    font-size: 24px;
    justify-content: flex-end;
    align-items: center;
    height: 3em;
    box-shadow: 0 10px 10px #d5d5d5;

    .logins {
      display: flex;
      height: 2.3em;
      font-size: 16px;
      justify-content: space-evenly;
      width: 14em;
      margin-right: 1em;

      #login-form {
        border: solid #cbcbcb 1px;
        margin-left: 0.6em;
        border-radius: 7px;
        outline: none;
        width: 4em;
      }
    }
  }

  h1 {
    color: #244751;
  }

  #title {
    display: flex;
    margin-top: 8em;
    margin: 5em;
    margin-bottom: 8em;
    flex-direction: column;
    align-items: center;

    .text-form {
      margin-top: 3em;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: max-content;

      #user-input {
        width: 25em;
        height: 2em;
        border: solid #cbcbcb 1px;
        border-radius: 7px;
        outline: none;
        padding: 1em;
      }

      #user-input-button {
        margin-top: 1em;
        width: 5em;
        height: 2.1em;
      }
    }
  }

  .container {
    .list-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18em, max-content));
      justify-content: center;
      justify-items: center;
      gap: 1rem;

      .card {
        width: 17em;
        height: 25em;
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.03);
          background-color: #f0f7ff;
          .card-icon {
            transition: all 0.2s ease-in-out;
            opacity: 100%;
          }
        }

        .card-header {
          display: inline-flex;
          margin-top: 0.5em;
          border-bottom: none;
          border-radius: 5px;
          justify-content: space-between;
        }

        .card-icon {
          opacity: 0%;
          margin-left: auto;
        }

        .card-body {
          overflow: hidden;
          &:hover {
            overflow-y: scroll;
          }

          .list-group-item {
            padding-left: 0.5em;
            padding-right: 0.5em;
            background: transparent;
            display: flex;
            align-items: center;

            .form-check-input {
              margin-top: 0;
              min-width: 1.125em;
              margin-right: 0.8em;
              opacity: 30%;

              &:before {
                opacity: 0;
              }
              &:hover {
                opacity: 60%;
              }
            }
          }
        }
      }

      .form-check-input {
        min-width: 1.125em;
        margin-top: 0em;
        margin-right: 0.8em;
      }

    }
  }
}
