// See: https://sass-lang.com/
$font-stack: Helvetica, sans-serif;

body {
  background-color: #eee;

  h1 {
    color: #244751;
  }

  #title {
    display: flex;
    flex-direction: column;
    border: solid green;
    align-items: center;
  }

  .todo-list {
    background-color: #ededed;
    width: 17em;
    height: 25em;
    border-radius: 5px;
  }

  .check-item {
    background: none;
    border: none;
    border-bottom: solid grey 1px;
  }

  .list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, max-content));
    justify-content: center;
    justify-items: center;
    gap: 1rem;
  }
}
