// See: https://sass-lang.com/
$font-stack: Helvetica, sans-serif;

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  #title {
    display: flex;
    flex-direction: column;
    border: solid green;
    align-items: center;
  }

  #listContainer {
    display: flex;
    justify-content: space-between;
    border-color: black;
    border-style: dotted;
    align-items: center;
  }

  .lists{
    display: flex;
    width: 25em;
    height: 25em;
    margin: 2.5em;
    border: solid green;
  }
}
