// See: https://sass-lang.com/
$font-stack: Helvetica, sans-serif;

body {
  background-color: #ffffff;

  .centerlined {
    border: none;
    color: #221312;
    background-color: transparent;
    padding-bottom: calc(1px * 2);
    position: relative;
    transition: 0.3s ease;
    font-weight: 400;
    cursor: pointer;
    font-size: 18px;

    &::after {
      display: block;
      background-color: #221312;
      width: 100%;
      left: 0;
      transform-origin: bottom center;
      height: 1px;
      position: absolute;
      bottom: 0;
      transform: scaleX(0);
      transition: 0.3s ease;
      content: "";
    }
    &:hover::after {
      transform: scaleX(1);
    }
    &:hover {
      letter-spacing: 1px;
    }
  }

  nav {
    display: flex;
    font-size: 24px;
    justify-content: flex-end;
    align-items: center;
    height: 2.5em;

    .logins {
      display: flex;
      height: 2.3em;
      font-size: 16px;
      justify-content: space-evenly;
      width: 14em;
      margin-right: 1em;

      #login-form {
        border: solid #cbcbcb 1px;
        border-radius: 7px;
        outline: none;
        width: 4em;
      }
    }
  }

  h1 {
    color: #244751;
  }

  #title {
    display: flex;
    margin: 5em;
    margin-bottom: 9em;
    flex-direction: column;
    align-items: center;

    .text-form {
      margin-top: 3em;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: max-content;

      #user-input {
        width: 25em;
        height: 2em;
        border: solid #cbcbcb 1px;
        border-radius: 7px;
        outline: none;
        padding: 1em;
      }

      #user-input-button {
        margin-top: 1em;
        width: 5em;
        height: 2.1em;
      }
    }
  }

  .container {
    .list-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18em, max-content));
      justify-content: center;
      justify-items: center;
      gap: 1rem;

      .card {
        width: 17em;
        height: 25em;
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.03);
          background-color: #fefcf6;

          .edit {
            display: block;
          }
        }

        .card-header {
          display: inline-flex;
          margin-top: 0.5em;
          border-bottom: none;
          border-radius: 5px;
          justify-content: space-between;
        }

        .edit {
          display: none;
        }

        .card-body {
          overflow: hidden;
          &:hover {
            overflow-y: scroll;
          }

          .list-group-item {
            border-color: #c7c7c7;
            padding-left: 0.5em;
            background: transparent;
          }

          .form-check-input {
            min-width: 1.125em;
            margin-right: 0.8em;
          }
        }
      }
    }
  }
}
