// See: https://sass-lang.com/
$font-stack: Helvetica, sans-serif;

body {
  background-color: #eee;

  h1 {
    color: #244751;
  }

  #title {
    display: flex;
    flex-direction: column;
    border: solid green;
    align-items: center;
  }

  .list-containers {
    border: solid yellow;
  }

  .col-sm {
    border: solid grey 1px;
    width: 25em;
    height: 25em;
    margin: 2.5em;
    border-radius: 5px;
  }

  // .lists {
  //   display: flex;
  //   width: 25em;
  //   height: 25em;
  //   margin: 2.5em;
  //   border: solid green;
  // }
}
