// See: https://sass-lang.com/
$font-stack: Helvetica, sans-serif;

body {
  background-color: #eee;

  nav {
    display: flex;
    box-shadow: 0px 10px 3px #ebebeb;
    font-size: 24px;
    justify-content: flex-end;
    align-items: center;
    height: 2.5em;

    .logins {
      display: flex;
      height: 2.3em;
      font-size: 16px;
      justify-content: space-between;
      width: 14em;
      margin-right: 1em;
    }

    #nav-buttons {
      outline: none;
      background: none;
      border: solid #cbcbcb 1px;
      border-radius: 7px;
    }

    #login-form {
      border: solid #cbcbcb 1px;
      border-radius: 7px;
      outline: none;
      padding: 1em;
      width: 5em;
    }
  }

  h1 {
    color: #244751;
  }

  #title {
    display: flex;
    margin: 9em;
    flex-direction: column;
    align-items: center;

    .text-form {
      margin-top: 3em;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: max-content;

      #user-input {
        width: 25em;
        height: 2em;
        border: solid #cbcbcb 1px;
        border-radius: 7px;
        outline: none;
        padding: 1em;
      }

      #user-input-button {
        margin-top: 1em;
        width: 5em;
        height: 2.1em;
        outline: none;
        background: none;
        border: solid #cbcbcb 1px;
        border-radius: 7px;
      }
    }
  }

  .list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, max-content));
    justify-content: center;
    justify-items: center;
    gap: 1rem;

    .todo-list {
      background-color: #f5f5f5;
      width: 17em;
      height: 25em;
      border-radius: 5px;

      h2 {
        padding: 0.5em;
      }

      .check-item {
        background: none;
        border: none;
        border-bottom: solid grey 1px;
      }
    }
  }
}
